<form novalidate [ngClass]="oValidado" #form1="ngForm" (ngSubmit)="enviar()">

      <div  class="form__group">
          <!--Etiqueta / Campo "Autor"-->						
          <label for="name">Autor*</label>
          <input type="text" 
          name="name" id="name" required minlength="3"
          [(ngModel)]="oPost.autor"
          #nameState="ngModel">
      </div>
      <div [hidden]="nameState.valid || nameState.untouched ">
          <div class="error-message" 
            [hidden]="!nameState.errors?.required">
            El nombre es obligatorio</div>
          <div class="error-message" 
            [hidden] = "!nameState.errors?.minlength">
            El nombre debe tener un mínimo de 3 caracteres
          </div>
        </div>

      <div class="form__group">
          <!--Etiqueta / Campo "Título"-->
          <label for="title" >Título*</label>
          <input type="text"
          id="title" name="title" required
          [(ngModel)]="oPost.titulo"
          #tituloState="ngModel">
      </div>      
      <div class="error-message" 
       [hidden]="tituloState.valid || tituloState.untouched "
       >
        <p>El título es obligatorio</p>
      </div>

      <div class="form__group">
          <!--Etiqueta / Campo "Contenido"-->
          <label for="comentarios">Contenido</label>
          <textarea type="text"
          id="comentarios" name="comentarios"
          required
          [(ngModel)]="oPost.contenido"
          #contenidoState="ngModel"> 
          </textarea>
      </div>
       <div [hidden]="contenidoState.valid || contenidoState.untouched ">
          <div class="error-message" 
              [hidden]="!contenidoState.errors?.required">
              El contenido es obligatorio
          </div>
      </div>

    <div class="buttons-wrapper">
      <button class="button" type="submit"
      [disabled]="form1.invalid">
          Añadir</button>
      <button class="button" type="button"
      (click)="btnBorrar()"
      [disabled]="form1.pristine">
          Borrar</button>
    </div>
</form>
