footer{
    border-top: solid #e3e3e3 0.05rem;
    margin: 0 1rem;
}

footer p{
    font-size: 0.8rem;
    text-align: center;
    margin: 1rem 0;
}

@media screen and (min-width: 600px){

    footer{
        max-width: 40rem;
        margin: auto;
    }
}

@media screen and (min-width: 1024px){
    footer{
        width: 45rem;
    }
}