<section class="form">
  <h2>Formulario de contacto</h2>
  <form #form="ngForm" id="form" method="post" (submit)= "enviar()">
      <div class="form__group">
          <label for="nombre">Nombre*</label>
          <input type="text" id="nombre" name="nombre"
          required minlength="2" #nombreState="ngModel"
          [(ngModel)]="userData.nombre">
      </div>
      <div [hidden]="nombreState.valid || nombreState.untouched">
        <div class="error-message"
            [hidden]="!nombreState.errors?.required">
            Nombre obligatorio
        </div>
        <div class="error-message"
            [hidden]="!nombreState.errors?.minlength">
            Mínimo 2 caracteres
        </div>
      </div>

      <div class="form__group">
          <label for="email">Email*</label>
          <input type="email" id="email" name="email"
          #emailState="ngModel" required
          pattern="^\S+@\S+$"
          [(ngModel)]="userData.email">
      </div>
      <div [hidden]="emailState.valid || emailState.untouched">
        <div class="error-message" 
        [hidden]="!emailState.errors?.required">
            Email obligatorio
        </div>
        <div class="error-message"
         [hidden]="!emailState.errors?.pattern">
            Formato incorrecto
        </div>
      </div>

      <div class="form__group">
          <label for="marcas">¿Qué marca te gusta más?</label>
          <select id="marcas" name="marcas"
          [(ngModel)]="userData.marcas">
              <option *ngFor="let marca of aMarcas" value="{{marca.marca}}">
                    {{marca.id}}. {{marca.marca}}
              </option>
          </select>
      </div>

      <div class="form__group">
          <label for="comentarios">Escribe tus sugerencias</label>
          <textarea id="comentarios" name="comentarios"
          [(ngModel)]="userData.comentarios"></textarea>
      </div>

      <input class="button" id="submit" type="submit"
      [disabled]="form.invalid" value="Enviar">
  </form>

  <div id="result-form" class="oculto result-form">
      <ul id="result-list" class="result-list"
      >
      <li>{{userData.nombre}}</li>
      <li>{{userData.email}}</li>
      <li>{{userData.marcas}}</li>
      <li>{{userData.comentarios}}</li>
    </ul>
  </div>
</section>